
div {
    position: absolute;
}

.dark__element-box{
    position: absolute;

    background-color: #000002;
    height: 150px;
    width: 1200px;
    padding-right:20px ;
}
.dark__element-boxx{
    position: absolute;
    background:#5903e2 ;
    width: 1210px; 
    height:5px ;
    
}



.dark__element-img{
    
    border:solid;color:hsl(123, 92%, 51%) ;
    height: 400px;
    width: 300px; 
    padding-top:30% ;
    padding: left 60px;
    
}

.dark__element-ani{
    height: 400px;
    width: 300px; 
    padding-top:30% ;
    padding: left 60px;

}

.dark__element-ico{
    display:inline;
    height: 400px;
    width: 300px; 
    padding-top:30% ;
    padding: left 60px;

    

   



}

.sub{
    color: blanchedalmond;
    position: absolute;
    padding-top:40px ;
    
    

}

.sub__anime{
    padding-left:100px ;
    padding: right 0px;
    margin-right:300px ;
    font-size:60px ;
    font-family:Cooper Black ;



}
.sub__troduc{
    margin-right:150px ;
    font-size:20px ;
    font-family:Verdana ;
}

.sub__contac{
    font-size:20px ;
    font-family:Verdana ;


}

